.eighth-frame {
    display: flex;
    flex-direction: column;
    gap: 3.52vh;
    padding: 5.56vh 5.83vw 11.11vh 5.83vw;
}

.eighth-frame-top {
    display: flex;
    justify-content: space-between;

}

.eighth-texts {
    display: flex;
    flex-direction: column;
    gap: 1.85vh;
}

.eighth-texts>p:first-child {
    font-size: 1.5rem;

}

.eighth-texts>p:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

.blogs-arrow {
    display: flex;
    gap: 8px;
}

/* ..............................grid-css..................................... */

.eighth-grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

@media(max-width:900px) {
    .eighth-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.coding {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(pictures/image-31.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 32px;
    padding: 30px;
}

.coding-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.green-coding {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--base-green);
    display: flex;
    width: max-content;
    color: #fff;
}

.big-coding {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

.coding-clock-text {
    color: #fff;
    font-size: 14px;
    display: flex;
    gap: 12px;
}

.coding-clock-text>p {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ui-ux {
    background-color: black;
    border-radius: 32px;
    padding: 30px;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: end;
    background-image: url(pictures/image\ 29.png);
    background-size: cover;

}

.frontend {
    background: black;
    border-radius: 32px;
    padding: 30px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(pictures/image=30.png);
    background-size: cover;
}