#fourth-frame {
    padding: 4.1vh 7.77vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}



.explore-dive-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.explore-dive-box>p:first-child {
    font-size: 1.25rem;
    font-weight: 400;
    color: #414141;
}

.explore-dive-box>p:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

#hot-green {
    color: var(--base-green);

}

/* ............................................................num-and-text-card.............................................. */

.stat-box {
    display: flex;
    gap: 2rem;
}

.big-red {
    display: flex;
    flex-direction: column;
    background-color: #C33241;
    border-radius: 2rem;
    justify-content: center;
    padding: 30px 40px;
    gap: 3rem;
}

.big-red>P:first-child {
    color: #F9EBEC;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: right;
}

.logo-frame {
    display: flex;
    justify-content: space-between;
}

#num-and-text {
    display: flex;
    color: #F9EBEC;

}

#number {
    line-height: 120%;
    font-weight: 700;
    font-size: 9.375rem;
    align-self: flex-start;

}

#all-courses {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

#all-courses>p:first-child {
    font-size: 2rem;
    font-weight: 700;
}

#all-courses>p:nth-child(2) {
    font-size: 1.125rem;
    text-wrap: inherit;
}

/* ...........................................................small-cards........................................................ */

.small-box {
    color: #C33241;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F9EBEC;
    padding: 3vh 3vw;
    justify-content: end;
    align-items: flex-start;
}

.up-on {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: rotate(-90deg);

}

.up-on-courses {
    font-size: 2rem;
    font-weight: 700;
}

.small-card-text {
    font-size: 1.125rem;
}

.five-ten {
    font-size: 9.375rem;
    font-weight: 700;
    line-height: 120%;
}