/* ...............................................................SVGS..................................................................... */
.svg1 {
    position: absolute;
    top: -19px;
    left: 35px;
    animation: svg-animate 2.3s ease-in-out infinite alternate;
}

.svg-vue {
    position: absolute;
    left: 35px;
    bottom: 80px;
    animation: svg-animate 2.3s ease-in-out infinite alternate;

}

.svg-pen {
    position: absolute;
    top: -100px;
    right: 150px;
    animation: svg-animate 2.3s ease-in-out 0.8s infinite alternate;
}

.svg-anglebrac {
    position: absolute;
    right: 180px;
    bottom: 0px;
    animation: svg-animate 2.3s ease-in-out 0.8s infinite alternate;
}

.svg-guesters {
    position: absolute;
    left: 150px;
    bottom: -30px;
    animation: svg-animate 2.3s ease-in-out infinite alternate;
}

.svg-react {
    position: absolute;
    right: 30px;
    bottom: 120px;
    animation: svg-animate 2.3s ease-in-out infinite 0.4s alternate;
}

@keyframes svg-animate {
    to {
        transform: translatey(30px);
    }
}